:root {
    --font-size: 16px;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --color-slate-body-text:#434455;
    --color-navy-blue-heading-overlays-shadows:#2E2F42;
    --color-iris-cta:#4D5AE5;
    --color-ocean-cta-pressed-state:#404BBF;
    --color-cloud:#F4F4FD;
    --color-white:#ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: var(--font-size);
    font-style: normal;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-slate-body-text);
    background-color: #ffffff;
}


/* Reset: */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Links and call elements don't inherits -> so we do reset  */
a {
    text-decoration: none;
    color: currentColor;
}

button {
    color: currentColor;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common */

.container {
    padding: 0 156px;
    max-width: 1128px;
    /* margin: 0 32px; */
}

/* Header -> Navigation */
.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
}

.navigation {
    display: flex;
    align-items: center;
}
.nav-addr {
    display: flex;
    justify-content: space-between;
}

/* Logo */
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.logo-text {
    color:#2E2F42;
}

/* Menu */
.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
    text-decoration: underline;
}

/* Address */
address {
    font-style: normal;
    color: var(--color-slate-body-text);
}
.address-list {
    display: flex;
    gap: 40px
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


/* Common */
/* .section {
    padding: 120px 0;
} */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--color-navy-blue-heading-overlays-shadows);
}

.section-li-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.2;
    color: var(--color-navy-blue-heading-overlays-shadows);
}




/* Section 1: Hero-section */
.hero {
    padding: 188px 0;
    color: var(--color-white);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris-cta);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean-cta-pressed-state);
}

/* Section 2: Benefits */
.benefits-list {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}

.benefits.section-title {
    line-height: 1.2;
}

/*  Section 3: Team */
.team {
    padding: 120px 0;
    background-color: var(--color-cloud);
}

.team .section-title {
    padding-bottom: 72px;
}
/* .team .section-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
} */

.team-list {
    display: flex;
    gap: 24px;
    position: relative;
}

.team-img {
    width: 264px;
    height: 260px;
    object-fit: cover;
    background-color: var(--color-white);
}

.team-player {
    background-color: var(--color-white);
}

.team-content {
    padding: 32px 16px;
}

/* Section 4: Portfolio */
.portfolio {
    padding: 120px 0;
}

.portfolio .section-title {
    padding-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
}


/* Footer: */
.footer {
    padding: 100px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-cloud);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.footer-logo-link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo-text {
    color: #f4f4fd;
    line-height: 1.5;
    text-transform: uppercase;
} 

.footer-text {
    max-width: 264px;
    padding-top: 16px;
    letter-spacing: 0.02em;
    line-height: var(--line-height);
}

/* Links */
.link:active {
    color: var(--color-iris-cta)
}

.link:hover,
.link:focus {
    color: var(--color-iris-cta)
}

