:root {
    --font-size: 16px;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --color-slate-body-text:#434455;
    --color-navy-blue-heading-overlays-shadows:#2E2F42;
    --color-iris-cta:#4D5AE5;
    --color-ocean-cta-pressed-state:#404BBF;
    --color-succes: #31D0AA;
    --color-cloud:#F4F4FD;
    --color-white:#ffffff;
    --color-light-slate: #8E8F99;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: var(--font-size);
    font-style: normal;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-slate-body-text);
    background-color: #ffffff;
}


/* Reset: */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Links and call elements don't inherits -> so we do reset  */
a {
    text-decoration: none;
    color: currentColor;
}

button {
    color: currentColor;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* max-width: 1128px; */
    /* margin: 0 32px; */
}

/* Header -> Navigation */
.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    align-items: center;
}
.nav-addr {
    display: flex;
    /* justify-content: space-between; */
}

/* Logo */
.logo-link {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.logo-text {
    color:#2E2F42;
}

/* Menu */
.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}

/* Address */
address {
    margin-left: auto;
    font-style: normal;
    color: var(--color-slate-body-text);
}
.address-list {
    display: flex;
    gap: 40px
}

.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


/* Common */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--color-navy-blue-heading-overlays-shadows);
}

.section-li-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.2;
    color: var(--color-navy-blue-heading-overlays-shadows);
}


/* Section 1: Hero-section */
.hero {
    max-width: 1440px;
    padding: 188px 0;
    color: var(--color-white);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bkgr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin: 0 auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris-cta);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean-cta-pressed-state);
}

/* Section 2: Benefits */
.benefits {
    padding: 120px 0;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3*24px) / 4);
}

.benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: var(--color-cloud); 
}

.benefits-item .section-li-title {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  Section 3: Team */
.team {
    padding: 120px 0;
    background-color: var(--color-cloud);
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    position: relative;
}

.team-img {
    width: 264px;
    height: 260px;
    object-fit: cover;
    background-color: var(--color-white);
}

.team-player {
    background-color: var(--color-white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-player .team-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-player .socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* width: 100%; */
    /* height: 100%; */
    background-color: var(--color-iris-cta);
    border-radius: 50%;
}

.team-player .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris-cta);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-player .socials-icon {
    fill:#F4F4FD;
}

.team-player .social-link:hover,
.team-player .social-link:focus {
    background-color: #404BBF;
}

.team-content {
    padding: 32px 0;
}

.team-content .section-li-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-content .section-text {
    text-align: center;
    margin-bottom: 8px;
}


/* Section 4: Portfolio */
.portfolio {
    padding: 120px 0;
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
        box-shadow:
                0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .section-li-title {
    margin-bottom: 8px;
}

.box {
    position: relative;
    overflow: hidden;
}

.box:hover .overlay,
.box:focus .overlay {
    transform: translateY(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    background-color: var(--color-iris-cta);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer: */
.footer {
    padding: 100px 0;
    font-family: "Raleway", sans-serif;
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

/* Footer block 1 Logo */
.footer-logo-slogan {
    margin-right: 120px;
}

.footer-logo-link {
    /* display: inline-block; */
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo-text {
    color: #f4f4fd;
    line-height: 1.5;
    text-transform: uppercase;
} 

.footer-text {
    max-width: 264px;
    padding-top: 16px;
    letter-spacing: 0.02em;
    line-height: var(--line-height);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-cloud);
}

/*  Footer Block 2 Social */
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

/* Icons Socials */
.footer .socials {
    display: flex;
    gap: 16px;
    margin-right: 80px;
    /* justify-content: center;
    align-items: center; */
}

.footer .socials-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* padding: 12px; */
    background-color: var(--color-iris-cta);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-iris-cta);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    fill: var(--color-cloud);
}

.footer .footer-social-link:hover,
.footer .footer-social-link:focus {
    background-color: var(--color-succes);
    /* background-color: #31d0aa; */
}
 
/* Footer Block 3 Subscribe */
.footer-subscribe-text {
    margin-bottom: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
 }

.footer-email-input-form {
    display: flex;
    gap: 24px;
}

.email-input-form {
    width: 264px;
    height: 40px;
    margin-right: 24px;
    padding: 8px 16px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.email-input-form::placeholder {
    color: var(--color-white);
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    /* margin-right: 16px; */
    border-radius: 4px;
    border: none;
    background-color: var(--color-iris-cta);
    color: var(--color-white);

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.footer-form-icon {
    margin-left: 16px;
    /* padding: 2px 0; */
    width: 24px;
    /* height: 24px; */
    fill: var(--color-white);
}

/* Links */
.link:active {
    color: var(--color-iris-cta)
}

.link:hover,
.link:focus {
    color: var(--color-iris-cta)
}

/* Modal window */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1440px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    
    opacity: 0;
    pointer-events: none; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F, 0px 2px 1px 0px #00000033;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
    color: var(--color-navy-blue-heading-overlays-shadows);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

/* Modal Form */
.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
    font-family: Roboto;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 11px 38px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: var(--color-navy-blue-heading-overlays-shadows);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    stroke: var(--color-iris-cta);
    fill: #4D5AE5;
}

.modal-form-field-textarea {
    margin-bottom: 16px;
}
.modal-form-comment {
    padding: 8px 16px;;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #2E2F4266;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: var(--color-iris-cta);
}

.modal-form-comment:focus-visible {
    border: var(--color-iris-cta);
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

.modal-form-checkbox-label { 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);
}

.modal-form-checkbox-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox input[type="checkbox"]:checked ~ .modal-form-checkbox-label .modal-form-checkbox-icon {
    border-color: transparent;
    background-color: var(--color-ocean-cta-pressed-state);
    border: none;
    fill: var(--color-cloud);
}

/* .modal-form-checkbox input[type="checkbox"]:checked ~ .modal-form-policy-link {
    color: red;
} */

.modal-form-policy-link {
    color: var(--color-iris-cta);
}

/* Modal Button */
.modal-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto 24px auto;
    background-color: var(--color-iris-cta);
    box-shadow: 0px 4px 4px 0px #00000026;
    width: 169;
    height: 56;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    gap: 10px;

    /* typography */
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
*/
