:root {
    --font-size: 16px;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --color-slate-body-text:#434455;
    --color-navy-blue-heading-overlays-shadows:#2E2F42;
    --color-iris-cta:#4D5AE5;
    --color-ocean-cta-pressed-state:#404BBF;
    --color-succes: #31D0AA;
    --color-cloud:#F4F4FD;
    --color-white:#ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: var(--font-size);
    font-style: normal;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-slate-body-text);
    background-color: #ffffff;
}


/* Reset: */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/* Links and call elements don't inherits -> so we do reset  */
a {
    text-decoration: none;
    color: currentColor;
}

button {
    color: currentColor;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Common */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    /* max-width: 1128px; */
    /* margin: 0 32px; */
}

/* Header -> Navigation */
.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    align-items: center;
}
.nav-addr {
    display: flex;
    /* justify-content: space-between; */
}

/* Logo */
.logo-link {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.logo-text {
    color:#2E2F42;
}

/* Menu */
.menu-list {
    display: flex;
    gap: 40px;
}

.menu-link {
    position: relative;
    color: #404bbf;
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    /* color: #2e2f42; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    display: block;
    /* width: 48px; */
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    /* background-color: var(--color-ocean-cta-pressed-state); */
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link:active {
    color: #404bbf;
}

/* Address */
address {
    margin-left: auto;
    font-style: normal;
    color: var(--color-slate-body-text);
}
.address-list {
    display: flex;
    gap: 40px
}

.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}


/* Common */
/* .section {
    padding: 120px 0;
} */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--color-navy-blue-heading-overlays-shadows);
}

.section-li-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.2;
    color: var(--color-navy-blue-heading-overlays-shadows);
}


/* Section 1: Hero-section */
.hero {
    max-width: 1440px;
    padding: 188px 0;
    color: var(--color-white);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url("../images/hero/hero-bkgr.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    margin: 0 auto;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 48px auto 0;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris-cta);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean-cta-pressed-state);
}

/* Section 2: Benefits */
.benefits {
    padding: 120px 0;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-item {
    width: calc((100% - 3*24px) / 4);
}

.benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: var(--color-cloud); 
}

.benefits-item .section-li-title {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*  Section 3: Team */
.team {
    padding: 120px 0;
    background-color: var(--color-cloud);
}

.team .section-title {
    margin-bottom: 72px;
}
/* .team .section-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
} */

.team-list {
    display: flex;
    gap: 24px;
    position: relative;
}

.team-img {
    width: 264px;
    height: 260px;
    object-fit: cover;
    background-color: var(--color-white);
}

.team-player {
    background-color: var(--color-white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-player .team-socials {
    display: flex;
    gap: 24px;
    justify-content: center;
}


.team-player .socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* width: 100%; */
    /* height: 100%; */
    background-color: var(--color-iris-cta);
    border-radius: 50%;
}

.team-player .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris-cta);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-player .socials-icon {
    fill:#F4F4FD;
}

.team-player .social-link:hover,
.team-player .social-link:focus {
    background-color: #404BBF;
}

.team-content {
    padding: 32px 0;
}

.team-content .section-li-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-content .section-text {
    text-align: center;
    margin-bottom: 8px;
}


/* Section 4: Portfolio */
.portfolio {
    padding: 120px 0;
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 2*24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
        box-shadow:
                0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .section-li-title {
    margin-bottom: 8px;
}

.box {
    position: relative;
    overflow: hidden;
}

.box:hover .overlay,
.box:focus .overlay {
    transform: translateY(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    background-color: var(--color-iris-cta);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer: */
.footer {
    /* display: flex;
    align-items: baseline; */
    padding: 100px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-cloud);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-logo-slogan {
    margin-right: 120px;
    /* display: inline-block; */
    /* margin-top: 100px;
    margin-bottom: 100px; */
    
}

.footer-logo-link {
    /* display: inline-block; */
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo-text {
    color: #f4f4fd;
    line-height: 1.5;
    text-transform: uppercase;
} 

.footer-text {
    max-width: 264px;
    padding-top: 16px;
    letter-spacing: 0.02em;
    line-height: var(--line-height);
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}

/* Footer Icons Socials */
.footer .socials {
    display: flex;
    gap: 16px;
    /* justify-content: center;
    align-items: center; */
}

.footer .socials-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    background-color: var(--color-iris-cta);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-iris-cta);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .socials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    fill: var(--color-cloud);
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: var(--color-succes);
    /* background-color: #31d0aa; */
}

/* Links */
.link:active {
    color: var(--color-iris-cta)
}

.link:hover,
.link:focus {
    color: var(--color-iris-cta)
}
