/* Reset: */
ul,
ol {
    list-style: none;
    /* padding: 0; */
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Links and call elements don't inherits -> so we do reset  */
a {
    text-decoration: none;
    color: currentColor;
}

/* У стилях відсутні наступні зайві правила: position,
width,
height,
display,
padding, */

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* TODO: variables */
:root {
    --font-size: 16px;
    --line-height: 1.5;
    --letter-spacing: 0.02em;
    --color-slate-body-text:#434455;
    --color-navy-blue-heading-overlays-shadows:#2E2F42;
    --color-iris-cta:#4D5AE5;
    --color-ocean-cta-pressed-state:#404BBF;
    --color-cloud:#F4F4FD;
    --color-white:#ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: var(--font-size);
    font-style: normal;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-slate-body-text);
    background-color: #ffffff;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.logo-text {
    color:#2E2F42;
}

/* Hero-section */
.hero-section {
    color: var(--color-white);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing);
}

.hero-btn {
    color: currentColor;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.04em;
    color: var(--color-white);
    background-color: var(--color-iris-cta);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-ocean-cta-pressed-state);
}


/* Header -> Navigation */
.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color:#404bbf;
    text-decoration: underline;
}

/* Header -> Address */
address {
    font-style: normal;
    color: var(--color-slate-body-text);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Links */
.link:active {
    color: var(--color-iris-cta)
}

.link:hover,
.link:focus {
    color: var(--color-iris-cta)
}

.benefits.section-title {
    line-height: 1.2;
}


/* Sections */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing);
    text-transform: capitalize;
    color: var(--color-navy-blue-heading-overlays-shadows);
}

.section-li-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: var(--letter-spacing);
    line-height: 1.2;
    color: var(--color-navy-blue-heading-overlays-shadows);
}

/* Section TEAM */
.team {
    background-color: var(--color-cloud);
}
.section-team-img {
    background-color: var(--color-white);
}

.team-player {
    background-color: var(--color-white);
}

/* Footer: */
.footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
    background-color: var(--color-navy-blue-heading-overlays-shadows);
}

.logo-footer-text {
    color: #f4f4fd;
    line-height: 1.5;
}

.footer-text {
    letter-spacing: 0.02em;
    line-height: var(--line-height);
}
